@using System.Collections.Generic
@using Microsoft.AspNetCore.Components

@if (!string.IsNullOrEmpty(QuestionText) && Options != null && Options.Count > 0)
{
    <div>
        <h3>@QuestionText</h3>
        <BootstrapRadioGroup TValue="string" Value="@SelectedOption" ValueChanged="@((string value) => SelectedOption = value)">
            @foreach (var option in Options)
            {
                <BootstrapRadio TValue="string" Value="@option.Value">@option.Text</BootstrapRadio>
            }
        </BootstrapRadioGroup>
    </div>
}

@code {
    [Parameter]
    public string QuestionText { get; set; }

    [Parameter]
    public List<Option> Options { get; set; }

    [Parameter]
    public string SelectedOption { get; set; }

    public class Option
    {
        public int Id { get; set; }
        public string Text { get; set; }
        public string Value { get; set; }
    }
}
